<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title>Between the Lines</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>

  <header>
    <button class="button"><a href="/logout">logout</a></button>
    <img class="logo" src="http://reminder.opto.ca/_images/cards/cat_reading_small.jpg" alt="">
    <h1 class="name">between the lines</h1>
    <h2 class="welcome">hello, [name].</h2>
    <a href="/books"
  </header>

  <div class="main">
    <%= yield %>
  </div>
</body>
</html>
