<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title>Between the Lines</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>

    <header>
      <img class="logo" src="http://reminder.opto.ca/_images/cards/cat_reading_small.jpg" alt="">
      <h1 class="name">between the lines</h1>
      <h2 class="welcome">welcome</h2>
    </header>

<!--     <div class="main">
      <a href="/signup">Sign up!</a>
      <form method="GET" action="/login">
        <label>username<br/>
          <input type="text" name="name"/>
        </label>
        <label>password<br/>
          <input type="password" name="password"/>
        </label>
        <input type="submit"/>
      </form>
    </div> -->

    <button class="bookshelf_button"><a href="/bookshelf">Check out the bookshelf</a></button>

</body>
</html>
