<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='utf-8' />
  <title>Between the Lines</title>
  <link href='http://fonts.googleapis.com/css?family=Vollkorn|Handlee' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
</head>
<body>

    <header>
      <img class="logo" src="http://reminder.opto.ca/_images/cards/cat_reading_small.jpg" alt="">
      <h1 class="name">between the lines</h1>
      <h2 class="welcome">Welcome</h2>
    </header>

    <div class="main">
    <h2> What is your name? </h2>
    <form method="post" action="/index">
    <input type="text" name="name" required>
    <input type="submit" value="Check out the bookshelf">
    </form>
    </div>

</body>
</html>
