<p> New message for <%= @topic %> <p>
<form method="post" action="/:title/:topic/messages">
  <label>Message
    <textarea name="message" cols="30" rows="10"></textarea>
  </label>

  <input type="submit" value="add message">
</form>
