<form method="post" action="/books/<%= @book['title'] %>">

  <label>What do you want to discuss?
    <input type="text" name="topic_title">
  </label>

  <label>What do you have to say?
    <textarea rows="4" cols="20" name="message">
    </textarea>
  </label>

  <label>What is your name?
    <input type="text" name="name">
  </label>

  <input type="hidden" name="like" value="0">
  <input type="hidden" name="dislike" value="0">

  <input type="submit" value="Start the convo">

</form>
